{"openapi": "3.0.3", "info": {"title": "YYC³ AI Calling API", "description": "YYC³ 智能外呼系统 RESTful API 文档\n\n## 核心功能\n- 🤖 **AI智能外呼**: ASR→LLM→TTS 全流程自动化\n- 📞 **通话管理**: 任务创建、执行、监控、结果分析\n- 👥 **Agent管理**: 多角色AI智能体配置与调度\n- 📊 **数据统计**: 实时监控与业务数据分析\n- 🔐 **安全认证**: RBAC权限控制 + JWT令牌", "version": "1.0.0", "contact": {"name": "YYC³ Team", "email": "support@yyc3-ai-call.com"}, "license": {"name": "MIT"}}, "servers": [{"url": "https://api.yyc3-ai-call.com/v1", "description": "Production Server"}, {"url": "https://staging.yyc3-ai-call.com/v1", "description": "Staging Server"}, {"url": "http://localhost:3000/api/v1", "description": "Development Server"}], "tags": [{"name": "Authentication", "description": "用户认证与授权"}, {"name": "Tasks", "description": "外呼任务管理"}, {"name": "Call Records", "description": "通话记录查询"}, {"name": "Agents", "description": "AI智能体管理"}, {"name": "Analytics", "description": "数据统计分析"}, {"name": "Health", "description": "系统健康检查"}], "paths": {"/auth/login": {"post": {"tags": ["Authentication"], "summary": "用户登录", "operationId": "login", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequest"}}}}, "responses": {"200": {"description": "登录成功", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthResponse"}}}}, "401": {"description": "认证失败"}, "429": {"description": "请求过于频繁"}}}, "/auth/register": {"post": {"tags": ["Authentication"], "summary": "用户注册", "operationId": "register", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegisterRequest"}}}}, "responses": {"201": {"description": "注册成功"}, "400": {"description": "输入验证失败"}, "409": {"description": "用户已存在"}}}, "/auth/refresh": {"post": {"tags": ["Authentication"], "summary": "刷新Token", "operationId": "refreshToken", "security": [{"bearerAuth": []}], "responses": {"200": {"description": "Token刷新成功"}, "401": {"description": "无效的Refresh Token"}}}, "/tasks": {"get": {"tags": ["Tasks"], "summary": "获取任务列表", "operationId": "listTasks", "security": [{"bearerAuth": []}], "parameters": [{"name": "page", "in": "query", "schema": {"type": "integer", "default": 1, "minimum": 1}}, {"name": "pageSize", "in": "query", "schema": {"type": "integer", "default": 20, "minimum": 1, "maximum": 100}}, {"name": "status", "in": "query", "schema": {"$ref": "#/components/schemas/TaskStatus"}}, {"name": "sortBy", "in": "query", "schema": {"type": "string", "enum": ["createdAt", "updatedAt", "status"]}}, {"name": "sortOrder", "in": "query", "schema": {"type": "string", "enum": ["asc", "desc"]}}], "responses": {"200": {"description": "任务列表获取成功", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}}}, "post": {"tags": ["Tasks"], "summary": "创建外呼任务", "operationId": "createTask", "security": [{"bearerAuth": [], "permissions": ["task:create"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateTaskRequest"}}}}, "responses": {"201": {"description": "任务创建成功", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaskResponse"}}}}, "400": {"description": "输入验证失败"}, "403": {"description": "权限不足"}}}, "/tasks/{taskId}": {"get": {"tags": ["Tasks"], "summary": "获取任务详情", "operationId": "getTask", "security": [{"bearerAuth": [], "permissions": ["task:read"]}], "parameters": [{"name": "taskId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "任务详情获取成功"}, "404": {"description": "任务不存在"}}}, "put": {"tags": ["Tasks"], "summary": "更新任务", "operationId": "updateTask", "security": [{"bearerAuth": [], "permissions": ["task:update"]}], "parameters": [{"name": "taskId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTaskRequest"}}}}, "responses": {"200": {"description": "任务更新成功"}, "404": {"description": "任务不存在"}}}, "delete": {"tags": ["Tasks"], "summary": "删除任务", "operationId": "deleteTask", "security": [{"bearerAuth": [], "permissions": ["task:delete"]}], "parameters": [{"name": "taskId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"204": {"description": "任务删除成功"}, "404": {"description": "任务不存在"}}}, "/tasks/{taskId}/execute": {"post": {"tags": ["Tasks"], "summary": "执行外呼任务", "operationId": "executeTask", "security": [{"bearerAuth": [], "permissions": ["ai_call:execute"]}], "parameters": [{"name": "taskId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"202": {"description": "任务已提交执行"}, "404": {"description": "任务不存在"}, "409": {"description": "任务状态不允许执行"}}}, "/tasks/batch": {"post": {"tags": ["Tasks"], "summary": "批量操作任务", "operationId": "batchOperation", "security": [{"bearerAuth": [], "permissions": ["task:delete"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BatchOperationRequest"}}}}, "responses": {"200": {"description": "批量操作完成"}}}, "/call-records": {"get": {"tags": ["Call Records"], "summary": "获取通话记录", "operationId": "listCallRecords", "security": [{"bearerAuth": [], "permissions": ["call_record:read"]}], "parameters": [{"name": "taskId", "in": "query", "schema": {"type": "string", "format": "uuid"}}, {"name": "status", "in": "query", "schema": {"type": "string", "enum": ["completed", "failed", "no_answer", "busy"]}}, {"name": "startDate", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"name": "endDate", "in": "query", "schema": {"type": "string", "format": "date-time"}}, {"name": "page", "in": "query", "schema": {"type": "integer", "default": 1}}, {"name": "pageSize", "in": "query", "schema": {"type": "integer", "default": 20}}], "responses": {"200": {"description": "通话记录列表"}}}, "/call-records/{recordId}": {"get": {"tags": ["Call Records"], "summary": "获取通话记录详情", "operationId": "getCallRecord", "security": [{"bearerAuth": [], "permissions": ["call_record:read"]}], "parameters": [{"name": "recordId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "通话记录详情"}, "404": {"description": "记录不存在"}}}, "/call-records/{recordId}/audio": {"get": {"tags": ["Call Records"], "summary": "下载录音文件", "operationId": "downloadAudio", "security": [{"bearerAuth": [], "permissions": ["call_record:download"]}], "parameters": [{"name": "recordId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "音频文件", "content": {"audio/mpeg": {"schema": {"type": "string", "format": "binary"}}}}, "404": {"description": "录音文件不存在"}}}, "/agents": {"get": {"tags": ["Agents"], "summary": "获取Agent列表", "operationId": "listAgents", "security": [{"bearerAuth": []}], "responses": {"200": {"description": "Agent列表"}}}, "post": {"tags": ["Agents"], "summary": "创建Agent", "operationId": "createAgent", "security": [{"bearerAuth": [], "permissions": ["agent:manage"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAgentRequest"}}}}, "responses": {"201": {"description": "Agent创建成功"}}}, "/agents/{agentId}": {"get": {"tags": ["Agents"], "summary": "获取Agent详情", "operationId": "getAgent", "parameters": [{"name": "agentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Agent详情"}}}, "put": {"tags": ["Agents"], "summary": "更新Agent配置", "operationId": "updateAgent", "security": [{"bearerAuth": [], "permissions": ["agent:configure"]}], "parameters": [{"name": "agentId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateAgentRequest"}}}}, "responses": {"200": {"description": "Agent更新成功"}}}, "/analytics/overview": {"get": {"tags": ["Analytics"], "summary": "获取数据概览", "operationId": "getAnalyticsOverview", "security": [{"bearerAuth": [], "permissions": ["data:analytics"]}], "parameters": [{"name": "period", "in": "query", "schema": {"type": "string", "enum": ["24h", "7d", "30d", "90d"], "default": "7d"}}], "responses": {"200": {"description": "数据概览"}}}, "/analytics/calls/trend": {"get": {"tags": ["Analytics"], "summary": "通话趋势分析", "operationId": "getCallsTrend", "security": [{"bearerAuth": [], "permissions": ["data:analytics"]}], "parameters": [{"name": "startDate", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}}, {"name": "endDate", "in": "query", "required": true, "schema": {"type": "string", "format": "date"}}, {"name": "granularity", "in": "query", "schema": {"type": "string", "enum": ["hour", "day", "week", "month"], "default": "day"}}], "responses": {"200": {"description": "趋势数据"}}}, "/health": {"get": {"tags": ["Health"], "summary": "健康检查", "operationId": "healthCheck", "responses": {"200": {"description": "服务健康", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResponse"}}}}}}, "/health/ready": {"get": {"tags": ["Health"], "summary": "就绪检查", "operationId": "readinessCheck", "responses": {"200": {"description": "服务就绪"}, "503": {"description": "服务未就绪"}}}}}, "components": {"securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "JWT", "description": "JWT Authorization header using the Bearer scheme"}}, "schemas": {"LoginRequest": {"type": "object", "required": ["email", "password"], "properties": {"email": {"type": "string", "format": "email", "example": "user@example.com"}, "password": {"type": "string", "format": "password", "minLength": 8, "example": "securePassword123"}}, "RegisterRequest": {"type": "object", "required": ["email", "password", "name"], "properties": {"email": {"type": "string", "format": "email"}, "password": {"type": "string", "minLength": 8}, "name": {"type": "string", "minLength": 2, "maxLength": 50}, "phone": {"type": "string", "pattern": "^1[3-9]\\d{9}$"}}, "AuthResponse": {"type": "object", "properties": {"accessToken": {"type": "string"}, "refreshToken": {"type": "string"}, "expiresIn": {"type": "integer"}, "user": {"$ref": "#/components/schemas/User"}}}, "User": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid"}, "email": {"type": "string", "format": "email"}, "name": {"type": "string"}, "role": {"$ref": "#/components/schemas/Role"}, "createdAt": {"type": "string", "format": "date-time"}}}, "Role": {"type": "string", "enum": ["super_admin", "admin", "operator", "analyst", "viewer"]}, "TaskStatus": {"type": "string", "enum": ["pending", "running", "completed", "failed", "cancelled"]}, "CreateTaskRequest": {"type": "object", "required": ["name", "phoneNumbers", "scriptId"], "properties": {"name": {"type": "string", "minLength": 1, "maxLength": 100}, "description": {"type": "string", "maxLength": 500}, "phoneNumbers": {"type": "array", "items": {"type": "string", "pattern": "^1[3-9]\\d{9}$"}, "minItems": 1, "maxItems": 1000}, "scriptId": {"type": "string", "format": "uuid"}, "agentId": {"type": "string", "format": "uuid"}, "scheduledAt": {"type": "string", "format": "date-time"}, "priority": {"type": "integer", "minimum": 1, "maximum": 5, "default": 3}, "metadata": {"type": "object", "additionalProperties": true}}}, "TaskResponse": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string"}, "status": {"$ref": "#/components/schemas/TaskStatus"}, "progress": {"type": "object", "properties": {"total": {"type": "integer"}, "completed": {"type": "integer"}, "failed": {"type": "integer"}, "percentage": {"type": "number"}}}, "createdAt": {"type": "string", "format": "date-time"}, "updatedAt": {"type": "string", "format": "date-time"}}}, "PaginatedResponse": {"type": "object", "properties": {"data": {"type": "array", "items": {}}, "pagination": {"type": "object", "properties": {"page": {"type": "integer"}, "pageSize": {"type": "integer"}, "total": {"type": "integer"}, "totalPages": {"type": "integer"}}}}}, "BatchOperationRequest": {"type": "object", "required": ["ids", "operation"], "properties": {"ids": {"type": "array", "items": {"type": "string", "format": "uuid"}, "minItems": 1, "maxItems": 100}, "operation": {"type": "string", "enum": ["delete", "archive", "export"]}}}, "CreateAgentRequest": {"type": "object", "required": ["name", "role"], "properties": {"name": {"type": "string", "minLength": 1, "maxLength": 50}, "role": {"type": "string", "maxLength": 100}, "personality": {"type": "string", "maxLength": 500}, "voiceType": {"type": "string", "enum": ["male", "female", "child"], "default": "male"}, "language": {"type": "string", "length": 2, "default": "zh"}, "temperature": {"type": "number", "minimum": 0, "maximum": 2, "default": 0.7}, "maxTokens": {"type": "integer", "minimum": 50, "maximum": 4096, "default": 500}}}, "HealthResponse": {"type": "object", "properties": {"status": {"type": "string", "enum": ["healthy", "unhealthy"]}, "timestamp": {"type": "string", "format": "date-time"}, "version": {"type": "string"}, "checks": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "status": {"type": "boolean"}, "latency_ms": {"type": "number"}}}}}}}}